@page
@model Proiect_Medii_Programare.Pages.Camere.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/CE.css" asp-append-version="true" />

<h4>Cameră</h4>
<hr />
<div class="main-container">
    <div class="form-and-icons">
        <div class="col-md-8">
        <form method="post" class="booking-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cameră.ID" />
            <div class="form-group">
                <label asp-for="Cameră.TipCameră" class="control-label"></label>
                <input asp-for="Cameră.TipCameră" class="form-control" />
                <span asp-validation-for="Cameră.TipCameră" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameră.PrețPeNoapte" class="control-label"></label>
                <input asp-for="Cameră.PrețPeNoapte" class="form-control" />
                <span asp-validation-for="Cameră.PrețPeNoapte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cameră.Descriere" class="control-label"></label>
                <input asp-for="Cameră.Descriere" class="form-control" />
                <span asp-validation-for="Cameră.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        </div>
        <div class="col-md-4">
            <div class="margintop">
                <div class="icon-container">
                    <div class="icon opening-hours">
                        <h1>PROGRAM DE FUNCȚIONARE</h1>
                        <p>Zile lucrătoare: 9:00 dimineața - 5:00 după-amiaza</p>
                        <p>Weekend: 9:00 dimineața - 12:00 după-amiaza</p>
                    </div>
                    <div class="icon opening-hours">
                        <h1>ORE DE RIDICARE ȘI COLECTARE</h1>
                        <p>Zile lucrătoare: 9:30 dimineața - 11:00 dimineața și 4:00 după-amiaza - 5:00 după-amiaza</p>
                        <p>Weekend: 9:30 dimineața - 11:00 dimineața</p>
                    </div>
                    <div class="icon opening-hours">
                        <h1>ADRESA</h1>
                        <p>Episcop Marton Aron nr 15</p>
                        <p>La doar 25 de minute de centru</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
