@page
@model Proiect_Medii_Programare.Pages.DespreNoiModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .about-us {
            text-align: center;
            padding: 20px;
            margin-top: 100px;
            font-weight: bold;
        }

            .about-us h1 {
                font-size: 50px;
                color: pink;
                margin-bottom: 10px;
            }

            .about-us p {
                font-size: 30px;
                line-height: 1.5;
                color: rgb(107, 27, 0);
                margin-bottom: 20px;
            }

        .icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

            .icon-container fa-icon {
                font-size: 80px;
                color: pink;
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    
    <div class="main-container">
        <div class="about-us">
            <p>CE REPREZENTĂM</p>
            <h1>Suntem dedicați să creăm un loc incredibil</h1>
            <p>Personalul nostru petrece timp interacționând și monitorizând animalele de companie pentru a le asigura siguranța și fericirea pe durata șederii lor la noi.</p>
            <p>Profităm de oportunitățile evidente pentru a identifica o activitate care adaugă valoare și care poate fi testată într-un stadiu incipient. Depășiți decalajul digital cu mai multe clicuri de la DevOps. Imersiunea în nanotehnologie pe autostrada informației va închide cercul, concentrându-ne exclusiv pe profit. Administrați piețele cu ajutorul rețelelor plug-and-play. Amânați dinamic utilizatorii B2C după beneficiile bazei instalate, vizualizând în mod semnificativ.</p>
        </div>

        <div class="about-us">
            <div class="icon-container">
            </div>
            <h1>ANGAJAȚII NOȘTRI SE IMPLICĂ</h1>
            <p>Suntem dedicați să creăm un loc incredibil. Personalul nostru petrece timp interacționând și monitorizând animalele de companie pentru a le asigura siguranța și fericirea pe durata șederii lor la noi.</p>
        </div>

        <div class="about-us">
            <div class="icon-container">
            </div>
            <h1>UN MEDIU FERICIT</h1>
            <p>Aduceți pe masă strategii de supraviețuire avantajoase pentru ambele părți pentru a asigura o dominație proactivă. La finalul zilei, mergând mai departe, apare o nouă normalitate care s-a dezvoltat de la generații de pisici și câini din generații anterioare.</p>
        </div>

        <div class="about-us">
            <div class="icon-container">
            </div>
            <h1>SUNTEM AICI PENTRU A RĂMÂNE</h1>
            <p>Profităm de oportunitățile evidente pentru a identifica o activitate care adaugă valoare și care poate fi testată într-un stadiu incipient. Depășiți decalajul digital cu mai multe clicuri de la DevOps și imersiunea în nanotehnologie.</p>
        </div>
    </div>
</body>
</html>